body {
    margin: 3% 10%;
    background-color: hsl(36, 100%, 99%);
    font-family: 'Inter', sans-serif;
    
}

p {
  
    color: hsl(236, 13%, 42%);  
}

/* Navbar */
header {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

#container {
    display: flex;
    align-items: center;
    position: relative;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    
}

#navbar li:nth-last-child(1) {
    padding-right: 0;
}

#navbar li a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-size: 18px;
    transition: 200ms ease-in-out;

}


#navbar li a:hover {
    color: hsl(35, 77%, 62%);
}


/* responsive navbar button */

#collapse-button {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 150ms ease-in-out;
}

#collapse-button:hover {
    box-shadow: 0 0 10px gray;
    background-color: rgb(194, 193, 193);
}

.button-line {
    background-color: black;
    width: 40px;
    height: 4px;
}

@media screen and (max-width: 800px) {

    #collapse-button {
        visibility: visible;
        position: absolute;
        float: right;
    }

    #navbar {
        visibility: hidden;
        width: 0;
    }

    #navbar li {
        width: 0;
        padding: 0;
    }

    #navbar li a {
        font-size: 0px;
    }

}


/* //////////////////// */

/* Front Page Styling */

#priority {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    
}

#featured {
    width: 70%;
    position: relative;

}

#featured img {
    width: 100%;
}

#featured h1 {
    font-size: 4em;
    font-weight: 800;
    float: left;
    width: 40%;
    margin: 30px 0 0 0;
}

#featured p {
    float: right;
    width: 50%;
    font-size: 24px;
    line-height: 35px;
    margin: 30px 0 0 0;
}

#featured button {
    position: absolute;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: white;
    font-size: 16px;
    letter-spacing: 7px;
    font-weight: 700;
    width: 20%;
    height: 60px;
    left: 50%;
    bottom: 0;
    cursor:pointer;
    transition: 300ms ease-in-out;
}

#featured button:hover {
    background-color: hsl(240, 100%, 5%);
}


#new {
    display: flex;
    flex-direction: column;
    background-color:hsl(240, 100%, 5%);
    width: 25%;
    padding: 35px 20px 20px 20px;
}

#new h2 {
    color: hsl(35, 77%, 62%);
    font-size: 46px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

#new h3 {
    color: white;
    margin: 0 0 20px 0;
    transition: 300ms ease-in-out;
    cursor: pointer;
    font-size: 24px;
}

#new h3:hover {
    color: hsl(35, 77%, 62%);
}

#new p {
    font-size: 18px;
    margin: 0;
    line-height: 30px;
}

hr {
    height: 2px;
    color: hsl(236, 13%, 42%);
    background-color: hsl(236, 13%, 42%);
    border: none;
    width: 100%;
    margin: 50px 0;
}

/* //////////////////// */



/* GRID OF ARTICLES */

#old {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 35% 35% 35%;
}


.small-article {
    display: flex;
    height: 150px;
}

.small-article div {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-article img {
    float: left;
}

.small-article h2 {
    color: hsl(233, 8%, 79%);
    font-size: 30px;
    margin: 0;
}

.small-article h4 {
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.small-article h4:hover {
    color:hsl(35, 77%, 62%);
}

.small-article p {
    color: hsl(236, 13%, 42%);
    line-height: 25px;
    margin: 0;
}


/* //////////////////// */


/* Footer */

#footer {
    padding: 50px 0;
}




/* //////////////////// */


/* TODO: Media queries */
/* DONE: Navbar needs to collapse when size hits a certain point */
/* when selected, navbar pops in from right */
/* small border on edges and everything aligns in a column */

/* TODO: When resized to smaller viewports, size of elements caps @ 350ish px */
/* gotta find a fix for that... Fkin annoying */
/* assumption is a parent element somewhere is being restricted so -> */
/* width 100% doesnt work. May need to change width to 100vw but we will see. */


@media screen and (max-width: 800px) {

    #priority {
        display: unset;
    }

    #featured {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #featured h1 {
        float: unset;
        width: unset;
        font-size: 3em;
    }

    #featured p {
        float: unset;
        width: unset;
        font-size: 1.25em;
    }

    #featured button {
        position: unset;
        left: unset;
        width: 50%;
        margin-top: 30px;
    }

    #new {
        width: 100%;
        padding: 40px 0;
        margin: 100px 0;
    }

    #new h2, #new h3, #new p {
        padding: 0 35px;
    }

    #new hr {
        width: unset;
        margin: 50px 35px;
    }


    #old {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .small-article {
        max-height: 300px;
    }

    .small-article div {
        padding: 10px 10px;
    }

    .small-article img {
        width: 30%;
    }

    .small-article h2 {
        font-size: 6vw;
    }

    .small-article h4 {
        font-size: 5vw;
    }
    
    .small-article p {
        font-size: 4vw;
    }
}